html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a{text-decoration:none; color:#8FE5F2;}

nav a{
	color:#fff;
}

ol, ul {
    list-style: none outside none;
}

@font-face{
	font-family:'helvetica-neue';
src: url(fonts/HELVETICANEUELTCOM-LT.TTF);	
}
@font-face{
	font-family:'helvetica-neue85';
src: url(fonts/HELVETICANEUELTCOM-HV.TTF);	
}

html {
    overflow-y: scroll;
    color:#fff;
}
body {
    background: none repeat scroll 0 0 #006666;
    font-family: sans-serif;
}

#logo {
	display:block;
	width:90%;
	height:auto;
	margin: 0 auto;
	max-width:800px;
}

#logo-lateral {
	float:left;
	display:block;
	width:70%;
	max-width:400px;
	height:auto;	
}

.menuButton{
	display:block;
	width:25%;
	max-width:100px;
	float:right;
	margin-right:3.5%;
	text-align:center;
	height:100%;
	position:relative;
	top:-1px;
}
.menuButton img{
	width:90%;
	height:auto;
}

section h3 {
	font-family:'helvetica-neue';
	display:block;
	width:98%;
	font-size:1.3em;
	color:#f7941e;
	margin-left:2%;
	font-weight: bold;
}

.tablink, .tablink2{
	width:100%;
	clear:both;
	min-height:4em;
	margin-bottom:2%;
	overflow:hidden;
}
.tablink2{
	margin:0.3em 0 0 0;
}
.tabtext{
	width:75%;
	height:100%;
	float:left;
}
.taballtext{
	width:100%;
}
.tabstring{
	font-weight:bold;
	margin-left:2%;
	line-height:4em;
	font-size: 1em;
	font-family: 'helvetica-neue';
}
.tabtitle{
	margin-left:2%;
	margin-top:0.3em;
	font-size: 1.4em;
	font-family: 'helvetica-neue85';
}
.tabsubtitle{
	margin-left:2%;
	font-size:1em;
	font-family: 'helvetica-neue';
}
.tabimg{
	margin-right:2%;
	width:23%;
	text-align:right;
	float:right;
}
.tabimg img {
	width:auto;
	max-height:70px;
	height:2.2em;
	margin-top:0.8em;
}
#menu1{
	background-color:#0c7478;
}
#menu2{
	background-color:#288f93;
}
#menu3{
	background-color:#2bacb1;
}
#menu4{
	background-color:#5ec9cd;
}

footer {
	border-top:1px solid #5ec9cd;
	padding:3% 0;
	background-color:#0e4244;
	font-size:0.8em;
	width:100%;
	text-indent: 2%;
}
footer a {
	color:#f7941e;
}
section{
	display:block;
	width:100%;
	clear:both;
	margin-top:0.5em;
	margin-bottom:6%;
	overflow:hidden;
}
header{
	overflow:hidden;
	margin-bottom:1em;
}
.breadcrumb{
	font-size: 0.8em;
	margin-left:2%;
}

#slideMenu{
	display:none;
	overflow:hidden;
	background-color:#5ec9cd;
	width:98%;
	border:1px solid #288f93;
	border-radius:5px; 
	margin:0 auto;
	background-image: linear-gradient(top, rgb(89,170,207) 2%, rgb(94,201,205) 51%);
background-image: -o-linear-gradient(top, rgb(89,170,207) 2%, rgb(94,201,205) 51%);
background-image: -moz-linear-gradient(top, rgb(89,170,207) 2%, rgb(94,201,205) 51%);
background-image: -webkit-linear-gradient(top, rgb(89,170,207) 2%, rgb(94,201,205) 51%);
background-image: -ms-linear-gradient(top, rgb(89,170,207) 2%, rgb(94,201,205) 51%);
}
.menu-el{
	width:48%;
	margin-left:0.8%;
	text-align:center;
	float:left;
	margin:0.5em 0 0.5em 0.8%;
}
.menu-im{
	width:100%;
	height:3em;
}
.menu-im img{
	height:80%;
	width:auto;
	max-height:69px;
	max-width:69px;
}
.menu-txt{
	width:100%;
	clear:both;
}
video{
	margin-top:0.5em;
	padding:2em 0;
	background-color:black;
}

article{
	margin-top:0.5em;
	overflow:hidden;
	width:96%;
	font-size: 0.9em;
	margin:0 auto;
}
article p{
	margin-top:1em;
}

.geppo {
	margin-top:0.5em;
	width:100%;
	height:5em;
	background-color:#2bacb1;
}
.geppo-im{
	height:100%;
	float:left;
}
.geppo-im img{
	height:100%;
	width:auto;
}
.geppo-txt{
	height:100%;
	width:68%;
	float:left;
	border-left:3px solid #006666;
}
.geppo-name{
	color:#fff;
	margin-top:0.3em;
	margin-left:2%;
	font-size: 1.3em;
	font-family: 'helvetica-neue85';
}
.geppo-role{
	margin-left:2%;
	margin-top:0.2em;
	font-size:0.8em;
	color:#d1f5fa;
}

iframe{
	display:block;
	margin:2em 0;
	margin:0 auto;
}
.address{
	display:block;
	margin-left:2%;
}
.address p{
	margin-top:0.5em;
}
.social{
	margin-top:0.3em;
	margin-left:2%;
	width:20%;
	float:left;
}
.social img {
	width:60%;
	height:auto;
	max-width:100px;
}

/*SCROLLER*/
.vaschetta_wrapper {
	margin-top:1em;
    float: left;
    width: 100%;
    
}
.vaschetta_wrapper a {
    display: block;
}
.vaschetta_wrapper img {
    max-height: 100%;
    width: auto;
}

.vaschetta_item {
    position: relative;
    float:left;
    width: 100%;
    background:url("img/tbg.png") repeat;
    padding-top:0.5em;
}

.vaschetta_item a{
	color:#fff;
}
.vaschetta_item img{
	width:100%;
	height:auto;
}

.vaschetta_item em{
	display:block;
	padding:5px 10px;
	background:url("img/tbg.png") repeat;
	position:absolute;
	top:75%;
	color:#fff !important;
}


.vaschetta_item h4{
	color:#f7941e !important;
	font-size:1.5em;
	display:block;
	padding:5px 10px;
	background:url("img/tbg.png") repeat;
	position:absolute;
	top:58%;
}
.active{
	color:#ff8800;
}
.galnav{
	width:100%;
	background:url("img/tbg.png") repeat;
	overflow:hidden;
}

#prev, #next{
	width:10%;
	float:right;
}
#prev{
	float:left;
}

#prev img, #next img{
	width:100%;
	max-width:60px;
	height:auto;
}
